# PUERTO (asignado automáticamente por Railway)
PORT=3000

# GMAIL REAL para email verification
GMAIL_USER=jasor64@gmail.com
GMAIL_APP_PASSWORD=ipuc udqn ejvq jmob

# APP URL (para links en emails)
APP_URL=https://baccaelite-production.up.railway.app

# hCaptcha (en login.html)
# HCAPTCHA_SITE_KEY=7e8abaf0-b192-4b9e-84a6-2b768252d590
# HCAPTCHA_SECRET_KEY=ES_5d85e37db05148f89fb7ce85714dd753
